@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.purple {
    color: #6415FF;
}


.grey {
    color: #A0AEC0;
}

nav {
    display: flex;

}

.nav__container {
    height: 160px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

p {
    font-size: 20px;
    line-height: 1.5;
    padding: 24px 0 24px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
}


.logo {
    width: 60px;
    margin-right: 160px;
}


ul {
    display: flex;
}

li {
    list-style-type: none;
}



.nav__link {
    margin-left: 44px;
    text-decoration: none;
    font-size: 20px;
    color: #243e63;
    font-weight: bold;
    padding: 0 0 4px;

}

.nav__link:hover {
    text-decoration: underline;
    color: #6415FF;
}

.btn {
    background-color: #6415FF;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 32px;
    padding: 12px 32px;
    text-align: center;
    font-weight: bold;
}



.header__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 24px;
    padding-left: 24px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header__description {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.header__h1 {
    font-size: 48px;
    flex-direction: column;
    align-items: center;
}


.logo__header {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

.header__img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.under__email {
    font-size: 20px;
    font-weight: bold;
    padding-top: 100px;
}


.email__input {
    writing-mode: horizontal-tb !important;
    font-size: 24px;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-radius: 32px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.btn__email {
    background-color: #6415FF;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 32px;
    padding: 12px 32px;
    text-align: center;
    font-weight: bold;
}

/* FEATURES */


.feat__container {
    padding: 80px 0;
}

.title__features {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.features__heading {
    font-size: 16px;
    padding-bottom: 24px;
}

.features__looks {
    font-size: 48px;
    font-weight: bold;
}

.features__looks-size {
    max-width: 600px;
    font-size: 18px;
    color: #7c8ba1;
}

.services {
    display: flex;
    flex-wrap: wrap;

}

.features {
    display: flex;
    align-items: start;
    width: calc(100%/3);
    padding: 32px 32px;
}

.feature__description {
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.features__headline {
    font-size: 24px;
}

.features__text {
    font-size: 16px;
    color: #7c8ba1;
}

.feature__img {
    margin-right: 24px;
    box-sizing: border-box;
    border-radius: 30%;

}